[flake8]
application-import-names = about, catalog, core, homepage
import-order-style = google
inline-quotes = double
max-line-length = 79

ignore = 
    W503,
    F811,
exclude = 
    venv,
    .venv,
    env,
    migrations,
    __pycache__,
    .git,
    */migrations/*

per-file-ignores = 
    */migrations/*: E501
    */settings.py: E501

max-complexity = 10