[flake8]
application-import-names = about, catalog, homepage
import-order-style = google
inline-quotes = double
max-line-length = 79

ignore = 
    W503,
    F811,
    Q003
exclude = 
    */migrations/,
    venv/,
    env/,
    .git,
    __pycache__

per-file-ignores = 
    */migrations/,
    */settings.py:E501

max-complexity = 10
