<!DOCTYPE html>
{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='{% static "img/fav/favicon.ico" %}' type="image">
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "img/fav/apple-touch-icon.png" %}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "img/fav/favicon-32x32.png" %}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "img/fav/favicon-16x16.png" %}'>
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <title>{% block title %}{% endblock title %}</title>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
  </head>
  <body>
    {% include "includes/header.html" %}
    <main class="pt-5 my-5">
      <div class="container">
        {% block content %}
          Контент не подвезли
          <img class="img-fluid" src='{% static "img/kitty_denik.jpg" %}'>
        {% endblock %}
      </div>
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>
