<ul class="nav nav-item">
  <li class="nav-item">
    <a class="nav-link {% if active_menu == 'home' %}active{% endif %}"
       href="{% url 'homepage:index_render' %}">На главную</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_menu == 'about' %}active{% endif %}"
       href="{% url 'about:about' %}">О проекте</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_menu == 'catalog' %}active{% endif %}"
       href="{% url 'catalog:item_list' %}">Список товаров</a>
  </li>
</ul>