{% load i18n %}
<ul class="nav nav-item ">
  <li class="nav-item">
    {% if view_name == "homepage:index_render" %}
      <span class="nav-link active">{% translate "На главную" %}</span>
    {% else %}
      <a class="nav-link" href="{% url "homepage:index_render" %}">{% translate "На главную" %}</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if view_name == "about:about" %}
      <span class="nav-link active">{% translate "О проекте" %}</span>
    {% else %}
      <a class="nav-link" href="{% url "about:about" %}">{% translate "О проекте" %}</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if view_name == "catalog:item_list" %}
      <span class="nav-link active">{% translate "Список товаров" %}</span>
    {% else %}
      <a class="nav-link" href="{% url "catalog:item_list" %}">{% translate "Список товаров" %}</a>
    {% endif %}
  </li>
  <div class="language-switcher ms-3">
  <form action="{% url 'set_language' %}" method="post" class="d-inline-block">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <select name="language" 
            onchange="this.form.submit()" 
            class="form-select form-select-sm" 
            style="width: auto; min-width: 110px; font-size: 1rem;">
      <option value="ru" {% if request.LANGUAGE_CODE|slice:":2" == "ru" %}selected{% endif %}>
        ру Русский
      </option>
      <option value="en" {% if request.LANGUAGE_CODE|slice:":2" == "en" %}selected{% endif %}>
        en English
      </option>
    </select>
  </form>
</div>
</ul>