{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% block content %}
<h1>Список товаров</h1>
{% for item in items %}
    {% if forloop.first %}
    <div>
    {% endif %}
    {% ifchanged item.category %}
    <div class="row">
    <div class="col-12 text-center">
    <h1 class="display-4 fw-bold">{{ item.category.name }}</h1>
    </div>
    {% endifchanged %}
    {% include "includes/item_card.html" %}
    {% if forloop.last %}
    </div>
    {% endif %}
{% empty %}
<p>Список пуст. Йо, Админ, добавь инфы!</p>
{% endfor %}
{% endblock %}